<launch>
  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mag_description)/urdf/magabot.xacro'" />
	
  <!-- Send fake joint values -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="TRUE"/>
	</node>
	
	<!-- Combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mag_description)/launch/rvizConfig.rviz"/>
</launch>
