<?xml version="1.0"?>
<robot name="magabot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Constants with robot dimensions -->
  <xacro:property name="PI" value="3.14159"/>
  <xacro:property name="width" value="0.3846"/> <!-- Width of the base chassis -->
  <xacro:property name="length" value="0.451"/> <!-- Length of the base chassis -->
  <xacro:property name="height" value="0.06826"/> <!-- Height of the base chassis -->
  <xacro:property name="wheelRadius" value="0.045"/> <!-- Radius of motorized wheels -->
  <xacro:property name="wheelWidth" value="0.0108"/> <!-- Width of motorized wheels -->
  <xacro:property name="wheelSep" value="0.345"/> <!-- Distance between wheels, for Differential Drive -->
  <xacro:property name="casterRadius" value="0.0225"/> <!-- Radius of non-motorized wheel -->
  <xacro:property name="casterWidth" value="0.020"/> <!-- Width of non-motorized wheel -->
  
  <!-- Magabot TFs -->
  <xacro:macro name="footprint_tf"> <origin xyz="0 0 0.0307" rpy="0 0 0"/> </xacro:macro>
  <xacro:macro name="wheel_tf" params="reflect"> <origin xyz="${reflect*.1725} .0455 0.0143" rpy="0 0 0"/> </xacro:macro>
  <xacro:macro name="caster_tf"> <origin xyz="0 -0.169 -0.0092" rpy="0 0 0"/> </xacro:macro>
  
  <!-- Sensor TFs -->
  <xacro:macro name="hokuyo_tf"> <origin xyz="0 0.0305 ${height}" rpy="0 0 0"/> </xacro:macro>
	<xacro:macro name="wiimote_tf"> <origin xyz="0 -0.0721 ${height}" rpy="0 0 0"/> </xacro:macro>

  <!-- Import Magabot Gazebo elements -->
  <xacro:include filename="$(find mag_description)/urdf/magabot.gazebo" />
  <xacro:plugins_gazebo topic="odom_combined" wheelSep="${wheelSep}" wheelRad="${wheelRadius}"/> <xacro:magabot_gazebo/>
  
	<!-- Import Parts -->
	<xacro:include filename="$(find mag_description)/urdf/parts/chassis.xacro" />
	<xacro:include filename="$(find mag_description)/urdf/parts/wheel.xacro" />
	<xacro:include filename="$(find mag_description)/urdf/parts/caster.xacro" />
  
  <!-- Import Sensors -->
  <xacro:include filename="$(find mag_description)/urdf/sensors/hokuyo_laser.xacro" />
  <xacro:include filename="$(find mag_description)/urdf/sensors/microstrain.xacro" />
  
  <!-- Import Materials -->
  <xacro:include filename="$(find mag_description)/urdf/materials/materials.xacro" />

  <!-- ........... PARTS ........... -->
  
  <xacro:chassis width="${width}" length="${length}" height="${height}">
  	<xacro:footprint_tf/>
  </xacro:chassis>
  
  <xacro:wheel name="leftwheel" wheelWidth="${wheelWidth}" wheelRadius="${wheelRadius}">
  	<xacro:wheel_tf reflect="-1" />
  </xacro:wheel>
  
  <xacro:wheel name="rigthwheel" wheelWidth="${wheelWidth}" wheelRadius="${wheelRadius}">
  	<xacro:wheel_tf reflect="1" />
  </xacro:wheel>
  
  <xacro:caster casterRadius="${casterRadius}" casterWidth="${casterWidth}">
  	<xacro:caster_tf />
  </xacro:caster>
  
  <!-- ....... SENSORS ....... -->
  
  <xacro:hokuyo_laser parent="base_link" topic="laser_scan">
  	<xacro:hokuyo_tf/>
  </xacro:hokuyo_laser>
  
  <xacro:microstrain parent="base_link" topic="imu_data">
  	<xacro:wiimote_tf/>
  </xacro:microstrain>
  
</robot>

