<launch>
	
	<rosparam param="use_sim_time">true</rosparam>  

  <arg name="control" default="true"/>
  <arg name="window" default="false"/>
  <arg name="slam" default="false"/>
  <arg name="static" default="false"/>
  <arg name="joy" default="false"/>
  <arg name="vjoy" default="false"/>
	<arg name="rviz" default="true"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mag_simulation)/worlds/magabot.world"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mag_description)/urdf/magabot.xacro'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model Magabot -param robot_description"/>
	
	<!-- Launch navigation -->
	<include file="$(find mag_navigation)/launch/window.launch" if="$(arg window)"/>
	<include file="$(find mag_navigation)/launch/slam.launch" if="$(arg slam)"/>
	<include file="$(find mag_navigation)/launch/static.launch" if="$(arg static)"/>

	<!-- Launch joystick -->
	<include file="$(find mag_joy)/launch/mag_joy.launch" if="$(arg joy)"/>

	<!-- Launch virtual joystick -->
	<node pkg="mag_joy" type="virtual_joystick.py" name="virtual_joystick" output="screen" if="$(arg vjoy)"/>

	<!-- Launch ROS control -->
	<include file="$(find mag_simulation)/launch/magabotControl.launch" if="$(arg control)"/>

	<!-- Launch RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find mag_simulation)/config/magabotSim.rviz" if="$(arg rviz)"/>

</launch>
