<launch>
	<arg name="laser" default="true"/>
	<arg name="joy" default="false"/>
	<arg name="vjoy" default="false"/>
	
	<!-- ....... MAGABOT CORE ....... -->
  <!-- ROSSERIAL -->
	<node name="serial_mag" pkg="rosserial_server" type="serial_node" args="_port:=/dev/ttyACM1" output="screen" />
  <node name="serial_imu" pkg="rosserial_server" type="serial_node" args="_port:=/dev/ttyACM3" output="screen" />
  
  <!-- Motor Control -->
  <node name="Controller" pkg="magabot" type="Controller"/>
  
  <!-- Motor Odometry -->
  <node name="Odomotery" pkg="magabot" type="Odometry" />

	<!-- IMU Node -->
	<node name="Imu" pkg="imu_mpu6050" type="ConvertIMU" />
  
	<!-- TFs -->
	<include file="$(find mag_description)/launch/magabotURDF.launch"/>
	

	<!-- ....... SENSORS ....... --> -->
	<group if="$(arg laser)">
		<!-- LASER SCAN -->
		<node name="laser" pkg="urg_node" type="urg_node" args="_serial_port:=/dev/ttyACM2" />
  </group>
	
	
	<!-- ....... JOYSTICK ....... -->
	<group if="$(arg joy)">
		<!-- JOY NODE -->
		<node name="joyInput" pkg="joy" type="joy_node" respawn="true">
		  <param name="dev" type="string" value="/dev/input/js0" />
		  <param name="deadzone" value="0.12" />
		</node>

		<!-- XBOX CONTROL JOY -->
		<node name="joyControl" pkg="mag_joy" type="mag_joy_node" />

		<!-- AXES -->
		<param name="axis_linear" value="1" type="double"/>
		<param name="axis_angular" value="0" type="double"/>
		<param name="scale_linear" value="2" type="double"/>
		<param name="scale_angular" value="2" type="double"/>
	</group>
	
	<!-- ....... VIRTUAL JOYSTICK ....... -->
	<node pkg="mag_joy" type="virtual_joystick.py" name="virtual_joystick" output="screen" if="$(arg vjoy)" />

</launch>

