<launch>
	<arg name="nav" default="true"/>
	<arg name="joy" default="false"/>
	<arg name="switch" default="false"/>
	<arg name="use_pi" default="false"/>
	
	<machine name="raspberry" address="10.10.10.2"/>
	
	<!-- ....... MAGABOT CORE ....... -->
  <!-- ROSSERIAL -->
	<group if="$(arg use_pi)">
		<group if="$(arg switch)">
  		<machine="raspberry" node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM1"/>
		</group>
  	<machine="raspberry" node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM0" unless="$(arg switch)"/>
	</group>
	<group if="$(arg switch)" unless="$(arg use_pi)">
  	<node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM1"/>
  </group>
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM0" unless="$(arg use_pi)" unless="$(arg switch)"/>
  
  <!-- Motor Control -->
  <node name="MotorControl" pkg="magabot" type="Control"/>
  
  <!-- Motor Odometry -->
  <node name="MotorOdomotery" pkg="magabot" type="Odometry" />
  
  <!-- TFs -->
  <node name="base_tf_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0.050825 0 0 0 1 base_footprint base_link 100" />	
	
	
	<!-- ....... SENSORS ....... --> -->
	<group if="$(arg nav)">
		<!-- LASER SCAN -->
		<group if="$(arg use_pi)">
			<group if="$(arg switch)">
				<machine="raspberry" node name="laser" pkg="urg_node" type="urg_node" args="_serial_port:=/dev/ttyACM0"/>
			</group>
			<machine="raspberry" node name="laser" pkg="urg_node" type="urg_node" args="_serial_port:=/dev/ttyACM1" unless="$(arg switch)"/>
		</group>
		<group if="$(arg switch)" unless="$(arg use_pi)">
			<node name="laser" pkg="urg_node" type="urg_node" args="_serial_port:=/dev/ttyACM0"/>
		</group>
		<node name="laser" pkg="urg_node" type="urg_node" args="_serial_port:=/dev/ttyACM1" unless="$(arg use_pi)" unless="$(arg switch)"/>
		
		<!-- WIIMOTE -->
		<node name="wiimote" pkg="wiimote" type="wiimote_node.py">
			<remap from="/imu/data" to="/imu/data_raw"/>
			<remap from="joy" to="wiiJoy"/>
		</node>
  </group>
	
	
	<!-- ....... JOYSTICK ....... -->
	<group if="$(arg joy)"/>
		<!-- JOY NODE -->
		<node name="joyInput" pkg="joy" type="joy_node" respawn="true">
		  <param name="dev" type="string" value="/dev/input/js0" />
		  <param name="deadzone" value="0.12" />
		</node>

		<!-- XBOX CONTROL JOY -->
		<node name="joyControl" pkg="xboxjoy" type="xboxjoy_node">
		  <remap from="joyControl" to="cmd_vel"/>
		<node>

		<!-- AXES -->
		<param name="axis_linear" value="1" type="double"/>
		<param name="axis_angular" value="0" type="double"/>
		<param name="scale_linear" value="2" type="double"/>
		<param name="scale_angular" value="2" type="double"/>
	</group>
	
</launch>

