<launch>
	<arg name="nav" default="true"/>
	<arg name="joy" default="false"/>
	<arg name="vjoy" default="false"/>
	<arg name="switch" default="false"/>
	
	<machine name="raspberry" address="10.10.10.2"/>
	
	<!-- ....... MAGABOT CORE ....... -->
  <!-- ROSSERIAL -->
	<node name="serial_node" machine="raspberry" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM1" if="$(arg switch)"/>
	<node name="serial_node" machine="raspberry" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM0" unless="$(arg switch)"/>
  
  <!-- Motor Control -->
  <node name="Controller" pkg="magabot" type="Controller"/>
  
  <!-- Motor Odometry -->
  <node name="Odomotery" pkg="magabot" type="Odometry" />
  
  <!-- TFs -->
	<include file="$(find mag_description)/launch/magabotURDF.launch"/>


	<!-- ....... SENSORS ....... --> -->
	<group if="$(arg nav)">
		<!-- LASER SCAN -->
		<group if="$(arg switch)">
			<node name="laser" machine="raspberry" pkg="urg_node" type="urg_node" args="_serial_port:=/dev/ttyACM0"/>
		</group>
		<node name="laser" machine="raspberry" pkg="urg_node" type="urg_node" args="_serial_port:=/dev/ttyACM1" unless="$(arg switch)"/>
		
		<!-- WIIMOTE -->
		<node name="wiimote" pkg="wiimote" type="wiimote_node.py">
			<remap from="/imu/data" to="/imu/data_raw"/>
			<remap from="joy" to="wiiJoy"/>
		</node>
  </group>
	
	
	<!-- ....... JOYSTICK ....... -->
	<group if="$(arg joy)">
		<!-- JOY NODE -->
		<node name="joyInput" pkg="joy" type="joy_node" respawn="true">
		  <param name="dev" type="string" value="/dev/input/js0" />
		  <param name="deadzone" value="0.12" />
		</node>

		<!-- XBOX CONTROL JOY -->
		<node name="joyControl" pkg="mag_joy" type="mag_joy_node" />

		<!-- AXES -->
		<param name="axis_linear" value="1" type="double"/>
		<param name="axis_angular" value="0" type="double"/>
		<param name="scale_linear" value="2" type="double"/>
		<param name="scale_angular" value="2" type="double"/>
	</group>
	
	<!-- ....... VIRTUAL JOYSTICK ....... -->
	<group if="$(arg vjoy)">
		<node pkg="mag_joy" type="virtual_joystick.py" name="virtual_joystick" output="screen"/>
	</group>

</launch>

