<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Inlude Gazebo element -->
  <include filename="$(find mag_description)/urdf/sensors/hokuyo_laser.gazebo.xacro" />

  <xacro:macro name="hokuyo_laser" params="parent *origin topic">
    <link name="hokuyo_link" type="laser">
		  <visual>
		  	<origin xyz="0 0 0.08" />
		    <geometry>
					<mesh filename="package://mag_description/meshes/hokuyo_laser.dae"/>
		    </geometry>
		  </visual>
		  
		  <collision>
		  	<origin xyz="0 0 0.08" />
		    <geometry>
		      <box size="0.05 0.05 0.1" />
		    </geometry>
		  </collision>
    
      <inertial>
		  	<origin xyz="0 0 0.08" />
        <mass value="0.1" />
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
      </inertial>
    </link>
    
    <joint name="hokuyo_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="hokuyo_link"/>
      <axis xyz="0 1 0" />
      <insert_block name="origin" />
    </joint>
    
    <!-- Gazebo elements -->
    <xacro:hokuyo_laser_gazebo topic="${topic}"/>
  </xacro:macro>
  
</robot>
