<?xml version="1.0"?>
<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="microstrain_gazebo" params="topic">
    <gazebo>
      <plugin name="imu_controller" filename="libgazebo_ros_imu.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>80</updateRate>
        
        <bodyName>microstrain_link</bodyName>
        <topicName>${topic}</topicName>
        <serviceName>/default_imu</serviceName>
        
        <gaussianNoise>0.0000000289</gaussianNoise> <!-- 0.00017 * 0.00017 -->
        
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 -180 0</rpyOffset>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
